{% extends 'base.html' %}
{% load static %} 
{% load staticfiles %}

{% block content %}
<div class="p-3">
    <a class="text-sm" href={% url 'addEmployee' %}>
      <img class="img-responsive" src="{{ MEDIA_URL }}plus.png" width="30" height="30" alt="Добавить сотрудника" />
      Добавить сотрудника
    </a>
</div>
<div class="m-3">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">ФИО</th>
        <th scope="col">Пол</th>
        <th scope="col">Возраст</th>
        <th scope="col">Должность</th>
        <th scope="col">Категория</th>
      </tr>
    </thead>
    <tbody>
    
      <!--

        Добавление строк с данными сотрудников путём перебора

      -->
    {% for employee in employeeList %}
      {% csrf_token %}
        <tr id="row-{{ employee.0 }}">
            <th scope="row">
              <button class="btn btn-outline-dark  btn-sm" onclick="navigateToEditEmployee({{ employee.0 }})">
                <img src="{{ MEDIA_URL }}edit.png" width="30" height="30" alt="редак." />
              </button>
              <button class="btn btn-outline-dark btn-sm" onclick="HttpService.DeleteEmployee({{ employee.0 }})">
                <img src="{{ MEDIA_URL }}delete.png" width="30" height="30" alt="Удал." />
              </button>
            </th>
            {% for field in employee %}
              <td>{{field}}</td>            
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}