{% extends 'base.html' %}
{% load static %}
{% block title %}Должности{% endblock %}
{% block content %}

<a href="AddPosition">
  <img src="{{ MEDIA_URL }}plus.png" width="30" height="30" alt="Добавить объект" />
</a>
<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">Название должности</th>
      </tr>
    </thead>
    <tbody>
    {% for position in positionList %}
        <tr>
            <th scope="row">
              <center>
                <button class="btn btn-outline-dark  btn-sm" onclick="navigateToEditPosition({{position.0}})">
                  <img src="{{ MEDIA_URL }}edit.png" width="30" height="30" alt="редак." />
                </button>
                <button class="btn btn-outline-dark btn-sm">
                  <img src="{{ MEDIA_URL }}delete.png" width="30" height="30" alt="Удал." />
                </button>
              </center>
            </th>
            {% for field in position %}
              <td>{{field}}</td>            
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}