{% extends 'base.html' %}
{% load static %}
{% block title %}Должности{% endblock %}
{% block content %}

<div class="p-3">
  <a class="text-sm" href={% url 'addPosition' %}>
    <img class="img-responsive" src="{{ MEDIA_URL }}plus.png" width="30" height="30" alt="Добавить должность" />
    Добавить должность
  </a>
</div>
<div class="m-3">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">Название должности</th>
        <th scope="col">Должность активна</th>
      </tr>
    </thead>
    <tbody>
    {% for position in positionList %}
    
      {% csrf_token %}
        <tr id="row-{{ position.0 }}">
            <th scope="row">
              <center>
                <button class="btn btn-outline-dark  btn-sm" onclick="navigateToEditPosition({{ position.0 }})">
                  <img src="{{ MEDIA_URL }}edit.png" width="30" height="30" alt="редак." />
                </button>
                <button class="btn btn-outline-dark btn-sm" onclick="HttpService.DeleteEmployee({{ position.0 }})">
                  <img src="{{ MEDIA_URL }}delete.png" width="30" height="30" alt="Удал." />
                </button>
              </center>
            </th>
            {% for field in position %}
              <td>{{field}}</td>            
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}